p{
    color: #707070;
    font-family: 'Economica', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin-right: 4%;
    margin-left: 0%;
}
hr{
    width: 75%;
}
#container-category{
    background-color: #f8d554;
    width: 22%;
    
}
#breakfast{
    padding-top: 85%;
}
 p:hover{
     /* color:#acb8bf; */
     font-size: 1.8em;
     text-decoration: underline;
    
 }
 
#exit{
    position: relative;
    float: right;
    height: 40px;
    margin-top: 22%;
    
    
}
@media(min-width:750px )and (max-width:990px){
    #container-category{
        height: 680px;
    }
    .products-container{
        margin-top:56%;
    }
    #logo-container{
        margin-top: -75%;
    }
}
@media (min-width: 1000px){
    p{
        font-size: 1.8em;
    }
    #exit{
        width: 22%;
        height: 10%;
        margin-top: 3%;
    }
    #container-category{
        height: 600px;
    }
    p:hover{
        font-size: 2.3em;
    }
    #breakfast{
        padding-top: 60%;
    }

}

@media(min-width:1200px) and (max-width:1500px){

    #container-category{
        height: 700px;
    }
    #exit{
        margin-top: 8%;
    }
    #breakfast{
        padding-top: 50%;
    }
    
}
