@import url('https://fonts.googleapis.com/css?family=Economica');

p{
    color: #7cccf3;
    font-family:'Economica', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-left: 22%;
}

#section-name{
    position: relative;
    float: right;
    right: 43%;
    margin-top: -67%;
}
#name-client{
    position: relative;
    float: right;
    margin-top: -17%;
    right: -38%;
    width: 153%;
    height: 70%;
    font-family: 'Economica', sans-serif;
    font-size: 1.5em;
    text-align: center;
    border: solid 2px #C4C5C7;
    border-radius: 20px;
}
#logo-container{
    position: relative;
    width: 38%;
    height: 50%;
    float: right;
    margin-top: -87%;
    right: 32%;

}
#logo-category{
    position: relative;
    width:100%;
    height: 100%;

}
@media(min-width:850px)and (max-width:1000px){
    p{
        font-size: 3.5em;
    }
    #section-name{
        margin-top: -50%;
    }
    #name-client{
        width: 155%;
        font-size: 2.2em;
    }
    #logo-container{
        margin-top: -68%;
    }
}
@media(min-width:1000px){
    p{
        font-size: 3em;
    }
    #logo-container{
        margin-top: -58%;
    }
    #logo-category{
        width: 75%;
        margin-left: 12%;
    }
    #section-name{
        margin-top: -44%;

    }
    #name-client{
        font-size: 2em;
    }
}

@media(min-width:1200px) and (max-width:1500px){
    p{
        font-size: 3.5em;
    }
    #section-name{
        margin-top: -40%;
    }
    #name-client{
        font-size: 2.5em;
        right: -35%;
    }
    #logo-container{
        margin-top: -53%;
    }
    #logo-category{
        width: 80%;
    }

}